@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p style="padding: 10px;">Welcome to CollectNet, the minimalist social network and collectibles tracker.</p>
</div>
